extends layout

block content
  h1= title
  p Welcome to Assignment 10
  button(type="button", class="btn btn-secondary", onclick="double()") I am a Button

  div(id="double") Up the amount

  a(href="/Tools") View Tools

  script.
      var value = 0;
      var power = 1;
      function double() {
          value++;
          power *= 2;
          document.getElementById("double").innerText = "Two to the power " + value + " is " + power;
        }

