extends layout

block content
  h1= title
  - var image_names = ['image1.jpg', 'image2.jpeg', 'image3.jpg', 'image4.jpg', 'image5.jpg']
  - for (let i = 0; i < 3; i++)
    - var random = Math.floor(Math.random()*5)
    img(src=`/images/${image_names[random]}`, alt=`Random Image ${i}`, height="300", width="300")